.dav {
    display: inline-block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

.dav > .zoom {
    display: inline-block;
    width: 100%;
    height: 100%;
    zoom: 0.5;
    position: relative;
    overflow: hidden;
}
.dav .map {
    display: inline-block;
    position: absolute;
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;

    /* veliau istrinti */
    background-image: url(../img/map-demo.png);
    background-size: cover;
}

.dav .car {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .dav .car.car-black-1 {
        width: 71px;
        height: 131px;
        background-image: url(../img/cars/car_black_1.png);
    }

.dav .person {
    display: inline-block;
    width: 26px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}

