.map > .sector {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
    .map > .sector > img {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid red;
    }